---
http_interactions:
- request:
    method: get
    uri: https://goodporn.to/tags/fff/?from=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |
        <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
        <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
        <head>
        <title>404 Not Found</title>
        <script type="text/javascript">window.location='/404.php';</script>
        </head>
        <body>
        <h1>Not Found</h1>
        The requested URL was not found on this server.
        <script defer src="https://static.cloudflareinsights.com/beacon.min.js/v84a3a4012de94ce1a686ba8c167c359c1696973893317" integrity="sha512-euoFGowhlaLqXsPWQ48qSkBSCFs3DPRyiwVu3FjR96cMPx+Fr+gpWRhIafcHwqwCqWS42RZhIudOvEI+Ckf6MA==" data-cf-beacon='{"rayId":"85fdad63e8ea6543","version":"2024.2.4","r":1,"token":"61865d5da35740a78007603fab7a89cf","b":1}' crossorigin="anonymous"></script>
        </body>
        </html>
  recorded_at: Tue, 05 Mar 2024 22:52:35 GMT
recorded_with: VCR 6.2.0
