---
http_interactions:
- request:
    method: get
    uri: https://goodporn.to/channels/evil-angel/?from=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<title>Videos from Evil
        Angel</title>\n<meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\"
        />\n<meta name=\"description\" content=\"Goodporn.to is the best porn website
        in internet with free full length videos, Enjoy streaming or downloading unlimited
        videos on your device, We host thousands of hi res galleries as well!\" />\n<meta
        name=\"keywords\" content=\"porn, xxx, streaming porn, HD porn, free porn,
        goodporn\" />\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link
        rel=\"icon\" href=\"https://goodporn.to/favicon.ico\" type=\"image/x-icon\">\n<link
        rel=\"shortcut icon\" href=\"https://goodporn.to/favicon.ico\" type=\"image/x-icon\">\n<link
        href=\"//statics.goodporn.to/static/styles/all-responsive-white.css?v=7.6\"
        rel=\"stylesheet\" type=\"text/css\" />\n<link href=\"//statics.goodporn.to/static/styles/jquery.fancybox-white.css?v=7.5\"
        rel=\"stylesheet\" type=\"text/css\" />\n<script>\n\t\tvar pageContext = {\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\tloginUrl:
        'https://goodporn.to/login-required/'\n\t\t};\n\t</script>\n<link href=\"https://goodporn.to/rss/channels/evil-angel/\"
        rel=\"alternate\" type=\"application/rss+xml\" />\n<link href=\"https://goodporn.to/channels/evil-angel/\"
        rel=\"canonical\" />\n\n<script async src=\"https://www.googletagmanager.com/gtag/js?id=UA-218092112-1\"></script>\n<script>\n
        \ window.dataLayer = window.dataLayer || [];\n  function gtag(){dataLayer.push(arguments);}\n
        \ gtag('js', new Date());\n\n  gtag('config', 'UA-218092112-1');\n</script>\n</head>\n<body>\n<div
        class=\"top-links\">\n<div class=\"center-hold\">\n<div class=\"network\">\n<strong></strong>\n<ul>\n<li><a
        href=\"https://pornpass.shop\" target=\"_blank\"><b>NEW:</b> Get all porn
        websites with 1 subscription!</a></li>\n<li><a href=\"https://gpstatus.org\"
        target=\"_blank\">Important Notice: Please check our alternative domains.</a></li>\n</ul>\n</div>\n<div
        class=\"member-links\">\n<ul>\n<li><a data-href=\"https://goodporn.to/signup/\"
        data-fancybox=\"ajax\">Sign up</a></li>\n<li><a data-href=\"https://goodporn.to/login/\"
        data-fancybox=\"ajax\" id=\"login\">Log in</a></li>\n</ul>\n</div>\n</div>\n</div>\n<div
        class=\"container\">\n<div class=\"header\">\n<div class=\"logo\">\n<a href=\"https://goodporn.to/\"><img
        src=\"//statics.goodporn.to/static/images/logo.png\" alt=\"Goodporn.to\"></a>\n</div>\n<div
        class=\"social-bookmarks\">\n</div>\n<div class=\"search\">\n<form id=\"search_form\"
        action=\"https://goodporn.to/search/\" method=\"get\" data-url=\"https://goodporn.to/search/%QUERY%/\">\n<span
        class=\"search-button\">Search</span>\n<div class=\"search-text\"><input type=\"text\"
        name=\"q\" placeholder=\"Search\" value /></div>\n</form>\n</div>\n</div>\n<nav>\n<div
        class=\"navigation\">\n<button class=\"button\">\n<span class=\"icon\">\n<span
        class=\"ico-bar\"></span>\n<span class=\"ico-bar\"></span>\n<span class=\"ico-bar\"></span>\n</span>\n</button>\n<ul
        class=\"primary\">\n<li>\n<a href=\"https://goodporn.to/\" id=\"item1\">Home</a>\n</li>\n<li>\n<a
        href=\"https://goodporn.to/latest-updates/\" id=\"item2\">Latest</a>\n</li>\n<li>\n<a
        href=\"https://goodporn.to/top-rated/\" id=\"item3\">Top Rated</a>\n</li>\n<li>\n<a
        href=\"https://goodporn.to/most-popular/\" id=\"item[...]
[...]
- request:
    method: get
    uri: https://goodporn.to/channels/evil-angel/?from=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |
        <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
        <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
        <head>
        <title>404 Not Found</title>
        <script type="text/javascript">window.location='/404.php';</script>
        </head>
        <body>
        <h1>Not Found</h1>
        The requested URL was not found on this server.
        <script defer src="https://static.cloudflareinsights.com/beacon.min.js/v84a3a4012de94ce1a686ba8c167c359c1696973893317" integrity="sha512-euoFGowhlaLqXsPWQ48qSkBSCFs3DPRyiwVu3FjR96cMPx+Fr+gpWRhIafcHwqwCqWS42RZhIudOvEI+Ckf6MA==" data-cf-beacon='{"rayId":"85fdad667a4953a5","version":"2024.2.4","r":1,"token":"61865d5da35740a78007603fab7a89cf","b":1}' crossorigin="anonymous"></script>
        </body>
        </html>
  recorded_at: Tue, 05 Mar 2024 22:52:36 GMT
recorded_with: VCR 6.2.0
