---
http_interactions:
- request:
    method: get
    uri: https://goodporn.to/videos/59217/brazzers-exxtra-the-sauna-is-heating-up-02-27-2024/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<title>Brazzers Exxtra
        - The Sauna Is Heating Up - 02/27/2024</title>\n<meta http-equiv=\"Content-Type\"
        content=\"text/html; charset=utf-8\" />\n<meta name=\"description\" content=\"Duration:
        31:28 - Xander Corvus is chilling in a sauna, when sexy Coco Rains (... and
        her husband) come in. The hubby takes a nap, giving Xander a chance to make
        a move on Coco. He helps oil her up before Coco let's him give her a good,
        steamy fuck right under her husband's nose!\" />\n<meta name=\"keywords\"
        content=\"Blowjob, 4K Porn, Big boobs, xander corvus, coco rains, piercing,
        muscular man, american man, short hair, big dick, big ass, curvy woman, brunette,
        shaved, big tits, cumshot, facial, kissing, sneaky, oil, blowjob, deep throat,
        face fuck, gagging, hair pulling, spanking, titty fuck, ass worship, cowgirl,
        doggystyle, missionary, top ad, 4k videos, brazzers exxtra, 2024, Xander Corvus,
        Coco Rains\" />\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link
        rel=\"icon\" href=\"https://goodporn.to/favicon.ico\" type=\"image/x-icon\">\n<link
        rel=\"shortcut icon\" href=\"https://goodporn.to/favicon.ico\" type=\"image/x-icon\">\n<link
        href=\"//statics.goodporn.to/static/styles/all-responsive-white.css?v=7.6\"
        rel=\"stylesheet\" type=\"text/css\" />\n<link href=\"//statics.goodporn.to/static/styles/jquery.fancybox-white.css?v=7.5\"
        rel=\"stylesheet\" type=\"text/css\" />\n<script>\n\t\tvar pageContext = {\n\t\t\t\t\t\t\t\t\tvideoId:
        '59217',\t\t\t\t\t\tloginUrl: 'https://goodporn.to/login-required/'\n\t\t};\n\t</script>\n<link
        href=\"https://goodporn.to/videos/59217/brazzers-exxtra-the-sauna-is-heating-up-02-27-2024/\"
        rel=\"canonical\" />\n<meta property=\"og:title\" content=\"Brazzers Exxtra
        - The Sauna Is Heating Up - 02/27/2024\" />\n<meta property=\"og:image\" content=\"//cdn.goodporn.to/contents/videos_screenshots/59000/59217/preview.jpg\"
        />\n<meta property=\"og:description\" content=\"Xander Corvus is chilling
        in a sauna, when sexy Coco Rains (... and her husband) come in. The hubby
        takes a nap, giving Xander a chance to make a move on Coco. He helps oil her
        up before Coco let's him give her a good, steamy fuck right under her husband's
        nose!\" />\n\n<script async src=\"https://www.googletagmanager.com/gtag/js?id=UA-218092112-1\"></script>\n<script>\n
        \ window.dataLayer = window.dataLayer || [];\n  function gtag(){dataLayer.push(arguments);}\n
        \ gtag('js', new Date());\n\n  gtag('config', 'UA-218092112-1');\n</script>\n</head>\n<body>\n<div
        class=\"top-links\">\n<div class=\"center-hold\">\n<div class=\"network\">\n<strong></strong>\n<ul>\n<li><a
        href=\"https://pornpass.shop\" target=\"_blank\"><b>NEW:</b> Get all porn
        websites with 1 subscription!</a></li>\n<li><a href=\"https://gpstatus.org\"
        target=\"_blank\">Important Notice: Please check our alternative domains.</a></li>\n</ul>\n</div>\n<div
        class=\"member-links\">\n<ul>\n<li><a data-href=\"https://goodporn.to/signup/\"
        data-fancybox=\"ajax\">Sign up</a></li>\n<li><a data-href=\"https://goodporn.to/login/\"
        data-fancybox=\"ajax\" id=\"login\">Log in</a></li>\n</ul>\n</div>\n</div>\n</div>\n<div
        class=\"container\">\n<div class=\"header\">\n<div class=\"logo\">\n<a href=\"https://goodporn.to/\"><img
        src=\"//statics.goodporn.to/static/images/logo.png\" alt=\"Goodporn.to\"></a>\n</div>\n<div
        class=\"social-bookmarks\">\n</div>\n<div class=\"search\">\n<form id=\"search_form\"
        action=\"https://goodporn.to/search/\" method=\"get\" data-url=\"https://goodporn.to/search/%QUERY%/\">\n<span
        class=\"search-button\">Search</span>\n<div class=\"search-text\"><input type=\"text\"
        name=\"q\" placeholder=\"Search\" value /></div>\n</form>\n</div>\n</div>\n<nav>\n<div
        class=\"navigation\">\n<button class=\"button\">\n<span class=\"icon\">\n<span
        class=\"ico-bar\"></span>\n<span class=\"ico-bar\"></span>\n<span class=\"ico-bar\"></span>\n</span>\n</button>\n<ul
        class=\"primary\">\n<li>\n<a href=\"https://goodporn.to/\" id=\"item1\">Home</a>\n</li>\n<li>\n<a
        href=\"https://goodporn.to/latest-updates/\" id=\"item2\">Latest</a>\n</li>\n<li>\n<a
        href=\"https://goodporn.to/top-rated/\" id=\"item3\">Top Rated</a>\n</li>\n<li>\n<a
        href=\"https://goodporn.to/most-popular/\" id=\"item[...]
