---
http_interactions:
- request:
    method: post
    uri: https://tsmkfa364q-dsn.algolia.net/1/indexes/all_scenes/query
    body:
      encoding: UTF-8
      string: '{"query":"","hitsPerPage":1000,"filters":"movie_id:123"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Alg-Pt:
      - '1'
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"hits":[],"nbHits":0,"page":0,"nbPages":0,"hitsPerPage":1000,"exhaustiveNbHits":true,"exhaustiveTypo":true,"exhaustive":{"nbHits":true,"typo":true},"query":"","params":"hitsPerPage=1000&filters=movie_id%3A123&validUntil=1712461424&restrictIndices=all%2A&filters=segment%3Azerotolerancefilms","processingTimeMS":1,"processingTimingsMS":{"_request":{"roundTrip":19}},"serverTimeMS":1}'
  recorded_at: Sun, 07 Apr 2024 00:43:45 GMT
recorded_with: VCR 6.2.0
